svg {
  font: 10px sans-serif;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/*.widescreen-container {
  height: 100%;
  width: 0;
  padding-top: 56.25%;
  position: relative;
}

.widescreen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333
}*/

#oscope {
  opacity: 0.0;
}

.line {
  fill: none;
  stroke: #5CBA47;
  stroke-width: 2.5px;
}

.xv-line {
  fill: none;
  stroke: #f00;
  stroke-width: 2.5px;
}

.axis path, .axis line {
  fill: none;
  stroke: #5CBA47;
  shape-rendering: crispEdges;
}

#art {
  z-index: 100;
}

.properties-pane {
  /*background-color: #ccc;*/
  width: 100%;
  height:100%;
  /*padding: 10px;*/
  /*border: 2px solid #000;*/
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  text-align: left;
  z-index: 100;
/*  display: none;*/
  /*opacity:0;*/
}

#floatrect {
  opacity: 0.0; d
}

#art{
  width: 100%;
  height: 95%;
  position: absolute;
  opacity: 0;
}

#video{
  width: 100%;
  height: 100%;
  position: absolute;
}

.noTitleStuff .ui-dialog-titlebar {
  display:none
}


#timeline-controls {
  width: 100%;
  height: 40;
  bottom: 0;
  position: absolute;
  opacity: 0.0;
  z-index: 101;
}

.timeline-container {
  top: 0;
  bottom: 0;
  left: 40;
  right: 0;
  position: absolute;
}

.timeline-background-rect {
  fill: #ccc;
}

.timeline-segment-marker {
  fill: red;
}

.timeline-progressbar{
  fill: #fff;
}

.timeline-button {
  height: 100%;
  width: 40;
  margin: 0;
  padding: 0;
  opacity: 0.5;
}

.loading-indicator {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 1.0;
  display: none;
  z-index: 1000;
}

.loading-icon {
   width: 54px;
   height: 54px;
   position: absolute;
   left: 50%;
   top: 50%;
   margin-left: -27px;
   margin-top: -27px;
}
