svg {
  font: 10px sans-serif;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/*.widescreen-container {
  height: 100%;
  width: 0;
  padding-top: 56.25%;
  position: relative;
}

.widescreen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333
}*/

#oscope {
  opacity: 0.0;
}

.line {
  fill: none;
  stroke: #5CBA47;
  stroke-width: 2.5px;
}

.xv-line {
  fill: none;
  stroke: #f00;
  stroke-width: 2.5px;
}

.axis path, .axis line {
  fill: none;
  stroke: #5CBA47;
  shape-rendering: crispEdges;
}


.wrapper {
  position: relative;
  width: 100%; /* <-- just a default, can be anything. */
}

.three-by-two.aspect-ratio { padding-bottom: 66.666% }
.four-by-three.aspect-ratio { padding-bottom: 75% }
.sixteen-by-nine.aspect-ratio { padding-bottom: 56.25% }

.content {
  position: absolute;
  top: 0;  bottom: 0;  left: 0;  right: 0;
  /*padding: 0 24px;*/
  padding-bottom: 40px;
}



#art {
  z-index: 100;
}

.properties-pane {
  width: 100%;
  height:100%;
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  text-align: left;
  z-index: 100;

}

#floatrect {
  opacity: 0.0; d
}

#art{
  width: 100%;
  height: 95%;
  position: absolute;
  opacity: 0;
}

#video{
  width: 100%;
  height: 100%;
  position: absolute;
  margin-bottom: 40;
}

#video iframe{
  width: 100%;
  height: 100%;
  z-index: 50;
  position: absolute;
}

#video video{
  width: 100%;
  height: 100%;
  z-index: 50;
  position: absolute;
}

.blocker {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 51;
}

.noTitleStuff .ui-dialog-titlebar {
  display:none
}


#timeline-controls {
  width: 100%;
  height: 30;
  bottom: 0;
  position: absolute;
  opacity: 0.7;
  z-index: 101;
}

.timeline-container {
  top: 0;
  bottom: 0;
  left: 30;
  right: 0;
  position: absolute;
}

.timeline-background-rect {
  fill: #ccc;
}

.timeline-segment-marker {
  fill: red;
}

.timeline-progressbar{
  fill: #fff;
}

.timeline-button {
  height: 100%;
  width: 30;
  margin: 0;
  padding: 0;
  opacity: 0.5;
}

.loading-indicator {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 1.0;
  display: inherit;
  z-index: 1000;
}

.loading-icon {
   width: 54px;
   height: 54px;
   position: absolute;
   left: 50%;
   top: 50%;
   margin-left: -27px;
   margin-top: -27px;
}

.logo-overlay {
  position: absolute;
  left: 10;
  top: 10;
  width:125;
  opacity: .5;
  z-index:1000;
}

.lower-third {
  position: absolute;
  height: 40;
  left: 0;
  right: 0;
  bottom: 30;
  background-color: #444;
  opacity: 0.8;
  z-index: 1000;
  padding: 10;
  display: none;
}

.lower-third-title {
  font-size: 30px;
  font-family: sans-serif;
  color: #fff;
}


.autosize {
  position: absolute;
}

